h2 {
    padding-top: 10px;
}

.pseudo_title {
    margin: 0 auto;
    color: $grey;
    letter-spacing: 2px;
    text-transform: uppercase;            
}

.template_section {

    .template_container {
        text-align: center;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 60px; 
        padding-top: 120px; 

        .psevdo_title {
            color: #ACA592; 
        }
    
    }

    .grid_container {
        padding: 0 120px 120px; 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;   

        .col {
            padding: 41px;
            text-align: center;
            border: 1px solid $light-orange;

            &:hover {
                background-color: $gold;
                transition: all ease-in-out 0.5s;
            }

            &:hover .img-download {
                transform: scale(1.15);
                transition: all ease-in-out 0.5s;
            }

        }
    }

}

   




