h2 {
    padding-top: 10px;
}

.template_section {
    padding-bottom: 120px;

    .template_container {           
        margin: 0 auto;
        padding-bottom: 60px; 
        padding-top: 120px; 
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .pseudo_title {
            margin: 0 auto;
            color: $grey;
            letter-spacing: 2px;
            text-transform: uppercase;            
        }
       
    }

    .grid_container {
        padding: 0 120px 120px; 
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 20px 0;
        width: 100%; 

        .col {
            padding: 41px;
            text-align: center;
            border: 1px solid $light-orange;

            &:hover {
                background-color: $gold;
                transition: all ease-in-out 0.5s;
            }

            &:hover .img-download {
                transform: scale(1.35);
                transition: all ease-in-out 0.5s;
            }

        }
    }

}