.hero{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    

    .hero__section{
        min-height: 602px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;  
        margin: 0  auto;
        .btn{
            margin-top: 35px;
        }
        .hero__title{
            @include media("<=768px") {
                font-size: 30px;
                
            }

            @include media("<=390px") {
                font-size: 18px;
                width: 80%;
                line-height: 200%;
            }
        }
    
    .hero__section-holder{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
    }

    .hero__text{
        font-size: 12px;
        line-height: 22px;
        text-transform: uppercase;
        color: $gold;
    }

    .btn{
        line-height: 22px;
        padding: 14px 24px;
        color: $black;

        &:hover{
            background-color: $gold;
            transform: scale(1.15)
        }
    }
}
}