.follow {
    background-color: $black;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;

    .container {
        width: 100%;
        max-width: 1500px;
        padding: 0 120px;

        &:before,
        &:after {
            content: '';
            background-color: $border;
            height: 1px;
            width: 1200px;
            display: inline-block;
            margin-left: 28px;
        }
        
           
        .photos {
            padding: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 21px;


            .img-holder {
                margin: 1px;
                position: relative;
                color: $white;

                .icon-instagram:before {
                    position: absolute;
                    font-size: 50px;
                    top: -33px;
                    right: 73px;
                }
            }

            .icon-holder {
                padding: 20px 65px;
                position: relative;

                .icon-instagram:before {
                    font-size: 200px;
                    width: 100%;
                    color: rgba(255, 255, 255, 0.19);
                }

                .text-holder {
                    padding: 0 50px;
                    margin: 0 0 40px;
                    display: inline-block;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 0;

                    span {
                        font-weight: 400;
                        font-size: 37px;
                        line-height: 50px;
                        color: $gold;
                    }
                }

                .btn {
                    font-size: 11px;
                    line-height: 22px;
                    text-transform: uppercase;
                    padding: 14px 24px;
                    position: absolute;
                    bottom: 0;
                    left: 70px;
                    margin: 0 40px 60px;
                    transition: all ease-in-out 0.5s ;
                    border: none;
                    
                    &:hover {
                        background-color: $gold;
                        transform: scale(1.15)
                    }
                }
            }
        }
    }
    }
