.follow {
    background-color: $black;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;

    @include media('>=1024px'){
        margin-top: 0;
    }

    &:before {
        content: '';
        background-color: $border;
        height: 1px;
        max-width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 10px;

        @include media('>=768px') { 
            top: 0px;
        }

        @include media('>=1024px') {
            top: -10px;
        }
    }

    &:after {
        content: '';
        background-color: $border;
        height: 1px;
        max-width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;

        @include media('>=768px') { 
            bottom: 0;
        }

        @include media('>=1024px') {
            bottom: -10px;
        }
    }
    
    .container {
        width: 100%;
        padding: 0 120px;
        
            .photos {
            padding: 10px 0;
            margin: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .img-holder {
                margin: 45px;
                position: relative;
                color: $white;
                
                @include media('>=1024px') {
                    margin: 1px;
                    
                }

                img {
                    @include media('>=1024px') {
                        width: 100%;
                    }
                }

                .icon-instagram:before {
                    position: absolute;
                    font-size: 30px;
                    top: -13px;
                    right: 50px;

                    @include media('>=768px') {
                        font-size: 40px;
                        top: -23px;
                        right: 73px;
                    }

                    @include media('>=1024px') {
                        font-size: 50px;
                        top: -33px;
                        display: block;
                    }
                }
            }

            .icon-holder {
                padding: 0 80px;
                position: relative;

                @include media('>=1024px') {
                    padding: 20px 65px;
                }

                .icon-instagram:before {
                    font-size: 100px;
                    width: 100%;
                    color: rgba(255, 255, 255, 0.19);

                    @include media('>=768px') { 
                        font-size: 150px; 
                    }

                    @include media('>=1024px') {
                        font-size: 200px;
                        display: block;
                    }
                }

                .text-holder {
                    padding: 0 50px;
                    margin: 0 0 40px;
                    display: inline-block;
                    position: absolute;
                    width: 100%;
                    left: 27px;
                    top: 8px;

                    @include media('>=768px') {
                        left: 20px;
                        top: 10px;
                    }

                    @include media('>=1024px') {
                        left: 0;
                        top: 0;
                    }

                    span {
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 30px;
                        color: $gold;

                        @include media('>=768px') {
                            font-size: 27px;
                            line-height: 40px;
                        }

                        @include media('>=1024px') {
                            font-size: 37px;
                            line-height: 50px;
                        }
                    }
                }

                .btn {
                    font-size: 11px;
                    line-height: 22px;
                    text-transform: uppercase;
                    padding: 14px 24px;
                    position: absolute;
                    bottom: -70px;
                    left: 20px;
                    margin: 0 53px 60px;
                    transition: all ease-in-out 0.5s ;
                    border: none;

                    @include media('>=768px') {
                        left: 45px;
                    }

                    @include media('>=1024px') {
                        bottom: 0;
                        left: 70px;
                        margin: 0 40px 60px;
                        display: inline-block;
                    }
                    
                    &:hover {
                        background-color: $gold;
                        transform: scale(1.15)
                    }
                }
            }
        }
    }
}
