.header {
  background-color: $black;
  padding: 25px 117px;

  .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .nav {
      display: inline-block;

      .nav-list {
        list-style: none;
        display: inline-flex;
        margin: 0;
        
        .nav-link {
          font-size: 11px;
          line-height: 24px;
          text-transform: uppercase;
          color: #ACA592;
          margin: 0 20px;

          &:hover {
            color: $gold;
            
          }
        }
      }
    }

    .btn {
      background-color: $black;
      font-size: 11px;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;
      color: #FFAE2B;
      border: 1px solid $gold;
      padding: 15px 25px;

      &:hover {
        background-color: $gold;
        color: $black;
        transform: scale(1.15)
      }
    }
  }
}