@font-face {
    font-family: 'old_standard_ttregular';
    src: url('../../src/fonts/oldstandardtt-regular-webfont.eot');
    src: url('../../src/fonts/oldstandardtt-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../src/fonts/oldstandardtt-regular-webfont.woff2') format('woff2'),
         url('../../src/fonts/oldstandardtt-regular-webfont.woff') format('woff'),
         url('../../src/fonts/oldstandardtt-regular-webfont.ttf') format('truetype'),
         url('../../src/fonts/oldstandardtt-regular-webfont.svg#old_standard_ttregular') format('svg');
    font-weight: 400;
    font-style: normal;

}