@font-face {
    font-family: 'old_standard_ttregular';
    src: url('../../src/fonts/oldstandardtt-regular-webfont.eot');
    src: url('../../src/fonts/oldstandardtt-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../src/fonts/oldstandardtt-regular-webfont.woff2') format('woff2'),
         url('../../src/fonts/oldstandardtt-regular-webfont.woff') format('woff'),
         url('../../src/fonts/oldstandardtt-regular-webfont.ttf') format('truetype'),
         url('../../src/fonts/oldstandardtt-regular-webfont.svg#old_standard_ttregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
  font-family: 'icomoon';
  src:  url('../../src/icons/fonts/icomoon.eot?mstalg');
  src:  url('../../src/icons/fonts/icomoon.eot?mstalg#iefix') format('embedded-opentype'),
  url('../../src/icons/fonts/icomoon.ttf?mstalg') format('truetype'),
  url('../../src/icons/fonts/icomoon.woff?mstalg') format('woff'),
  url('../../src/icons/fonts/icomoon.svg?mstalg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /*speak: never;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-empty:before {
  content: "\e900";
}
.icon-pentagon:before {
  content: "\e901";
}
.icon-semi-circle-empty:before {
  content: "\e902";
}
.icon-semi-circle-full:before {
  content: "\e903";
}
.icon-square:before {
  content: "\e904";
}
.icon-triangle:before {
  content: "\e905";
}

@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?vp5w0t');
  src:  url('../../fonts/icomoon.eot?vp5w0t#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?vp5w0t') format('truetype'),
    url('../../fonts/icomoon.woff?vp5w0t') format('woff'),
    url('../../fonts/icomoon.svg?vp5w0t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /*speak: never;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}