*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'old_standard_ttregular';
  padding: 0;
  margin: 0 auto;
}

h1 {
  font-size: 70px;
  line-height: 80px;
  letter-spacing: 1px;
  color: $white;
  width: 869px;
  margin: 0 auto;
}

h2 {
  font-size: 60px;
  line-height: 70px;
  color: $gold;
}

h3 {
  font-size: 24px;
  line-height: 34px;
  color: $gold;
}

h4 {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $white;
  margin: 0;
}

h5   {
  font-size: 15px;
  line-height: 26px;
  color: #ACA592;
}
.pseudo-title {
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $grey;
}

p {
  font-size: 12px;
  line-height: 28px;
  color: $grey;
}
a {
  text-decoration: none;
}
.btn {

  height: 50px;
  background-color: $gold;
  padding: 14px 24px;

  &:hover {
    background-color: $black;
    color: $gold
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
