@font-face {
  font-family: "old_standard_ttregular";
  src: url("../../src/fonts/oldstandardtt-regular-webfont.eot");
  src: url("../../src/fonts/oldstandardtt-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../src/fonts/oldstandardtt-regular-webfont.woff2") format("woff2"), url("../../src/fonts/oldstandardtt-regular-webfont.woff") format("woff"), url("../../src/fonts/oldstandardtt-regular-webfont.ttf") format("truetype"), url("../../src/fonts/oldstandardtt-regular-webfont.svg#old_standard_ttregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../../src/icons/fonts/icomoon.eot?mstalg");
  src: url("../../src/icons/fonts/icomoon.eot?mstalg#iefix") format("embedded-opentype"), url("../../src/icons/fonts/icomoon.ttf?mstalg") format("truetype"), url("../../src/icons/fonts/icomoon.woff?mstalg") format("woff"), url("../../src/icons/fonts/icomoon.svg?mstalg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  /*speak: never;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-empty:before {
  content: "\e900";
}

.icon-pentagon:before {
  content: "\e901";
}

.icon-semi-circle-empty:before {
  content: "\e902";
}

.icon-semi-circle-full:before {
  content: "\e903";
}

.icon-square:before {
  content: "\e904";
}

.icon-triangle:before {
  content: "\e905";
}

@font-face {
  font-family: "icomoon";
  src: url("../../fonts/icomoon.eot?vp5w0t");
  src: url("../../fonts/icomoon.eot?vp5w0t#iefix") format("embedded-opentype"), url("../../fonts/icomoon.ttf?vp5w0t") format("truetype"), url("../../fonts/icomoon.woff?vp5w0t") format("woff"), url("../../fonts/icomoon.svg?vp5w0t#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  /*speak: never;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}

@font-face {
  font-family: "icomoon";
  src: url("../.././src/fonts/icomoon.eot?vp5w0t");
  src: url("../.././src/fonts/icomoon.eot?vp5w0t#iefix") format("embedded-opentype"), url("../.././src/fonts/icomoon.ttf?vp5w0t") format("truetype"), url("../.././src/fonts/icomoon.woff?vp5w0t") format("woff"), url("../.././src/fonts/icomoon.svg?vp5w0t#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  /*speak: never;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "old_standard_tt";
  padding: 0;
  margin: 0 auto;
}

h1 {
  font-size: 70px;
  line-height: 80px;
  letter-spacing: 1px;
  color: #FFFFFF;
  width: 869px;
  margin: 0 auto;
}

h2 {
  font-size: 60px;
  line-height: 70px;
  color: #FFAE2B;
}

h3 {
  font-size: 24px;
  line-height: 34px;
  color: #FFAE2B;
}

h4 {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

h5 {
  font-size: 15px;
  line-height: 26px;
  color: #ACA592;
}

.pseudo-title {
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ACA592;
}

p {
  font-size: 12px;
  line-height: 28px;
  color: #ACA592;
}

a {
  text-decoration: none;
}

.btn {
  height: 50px;
  background-color: #FFAE2B;
  padding: 14px 24px;
}
.btn:hover {
  background-color: #181511;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

p {
  font-size: 12px;
  font-weight: 400;
  color: #ACA592;
  line-height: 28px;
  text-align: center;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFAE2B;
  color: rgb(24, 21, 17);
  text-decoration: none;
}

.header {
  background-color: #181511;
  padding: 25px 117px;
}
.header .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header .container .nav {
  display: inline-block;
}
.header .container .nav .nav-list {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
}
.header .container .nav .nav-list .nav-link {
  font-size: 11px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ACA592;
  margin: 0 42px;
}
.header .container .nav .nav-list .nav-link:hover {
  color: #FFAE2B;
}
.header .container .btn {
  background-color: #181511;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFAE2B;
  border: 1px solid #FFAE2B;
  padding: 15px 25px;
  margin-left: 428px;
}
.header .container .btn:hover {
  background-color: #FFAE2B;
  color: #181511;
}

.footer {
  background-color: #181511;
  padding: 125px 0 0 0;
}
.footer p {
  font-size: 14px;
  line-height: 20px;
}
.footer .container {
  width: 100%;
  margin: 0 auto;
}
.footer .container .title-holder {
  text-align: center;
  margin-bottom: 82px;
}
.footer .container .title-holder h2 {
  margin: 0 auto;
  width: 517px;
  padding-bottom: 20px;
}
.footer .container .title-holder .pseudo-title {
  font-size: 12px;
  line-height: 28px;
  color: #ACA592;
}
.footer .container .subscribe-form {
  text-align: center;
  max-width: 420px;
  margin: 0 auto;
}
.footer .container .input-holder {
  background-color: #181511;
  width: 100%;
}
.footer .container .input-holder input {
  background-color: #181511;
  border: solid 1px #FFAE2B;
  text-align: center;
  height: 50px;
  width: 100%;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ACA592;
}
.footer .container .input-holder input:focus-visible {
  outline: none;
}
.footer .container .btn {
  display: inline-block;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  height: 50px;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
}
.footer .container .btn:hover {
  background-color: #181511;
  color: #FFAE2B;
}
.footer .text-holder {
  text-align: center;
  margin-top: 32px;
  width: 100%;
  max-width: 411px;
  margin: 0 auto;
}
.footer .text-holder .link-holder {
  color: #FFAE2B;
}
.footer .text-holder .link-holder:hover {
  color: #ACA592;
  opacity: 1;
}
.footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .col {
  height: 48px;
  width: 48px;
  border: 1px solid #ACA592;
  margin: 8px;
}
.footer .col:hover {
  color: #FFAE2B;
  background-color: #ACA592;
}
.footer .col .twitter {
  padding: 16px 14px;
}
.footer .col .instagram, .footer .col .linkedin {
  padding: 14px;
}
.footer .col .facebook {
  padding: 14px 19px;
}
.footer .copyright {
  margin-top: 25px;
  border-top: 1px solid;
  font-size: 12px;
  line-height: 22px;
  color: #ACA592;
}
.footer .copyright .copyright-holder {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .copyright .copyright-holder .copyright-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
.footer .copyright .copyright-holder .copyright-list .item-copyright {
  margin: 4px 3px;
}
.footer .copyright .copyright-holder .copyright-list .pseudo-item:before, .footer .copyright .copyright-holder .copyright-list .pseudo-item:after {
  content: "";
  border: 1px solid #4B4136;
  margin: 0 3px 0 4px;
}
.footer .copyright .copyright-holder .link-holder {
  font-size: 11px;
  line-height: 30px;
  color: #FFAE2B;
}
.footer .copyright .copyright-holder .link-holder:hover {
  opacity: 1;
  color: #ACA592;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "old_standard";
  background-color: #181511;
}

h1 {
  font-size: 70px;
  line-height: 80px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0 auto 35px;
  text-align: center;
  letter-spacing: 1px;
}

h2 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 400;
  color: #FFAE2B;
  margin: 0 auto;
  text-align: center;
}

h4 {
  font-family: "old_standard_ttregular";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  padding: 20px 41px;
  color: #ACA592;
  letter-spacing: 2px;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

.hero {
  background-image: url("/img/hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .hero__section {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1920px;
  min-height: 602px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.hero .hero__section-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero .hero__text {
  font-family: "old_standard_ttregular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFAE2B;
}
.hero .hero__title {
  font-family: "old_standard_ttregular";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 80px;
  text-align: center;
  color: #FFFFFF;
}
.hero .hero__btn {
  background-color: #FFAE2B;
  font-family: "old_standard_ttregular";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  padding: 14px 24px;
  color: #181511;
}
.hero .hero__btn:hover {
  background-color: goldenrod;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

body {
  margin: 0;
  font-family: "old_standard";
  background-color: #181511;
}

h1 {
  font-size: 70px;
  line-height: 80px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0 auto 35px;
  text-align: center;
  letter-spacing: 1px;
}

h2 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 400;
  color: #FFAE2B;
  margin: 0 auto;
  text-align: center;
}

h3 {
  font-size: 24px;
  line-height: 34px;
  color: #FFAE2B;
  margin: 0 auto 10px;
}

h4 {
  font-weight: 400;
  margin: 0 auto;
  font-size: 13px;
  line-height: 23px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

.header_container {
  max-width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 115px;
}

.hero_section {
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}
.hero_section .hero_container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 120px 120px 180px;
}
.hero_section .hero_container .psevdo_title {
  color: #FFAE2B;
}
.hero_section .hero_container .btn {
  display: block;
  margin: 0 auto;
  width: 143px;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 24px;
  color: #181511;
  background-color: #FFAE2B;
  -webkit-transition: opacity ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s;
}
.hero_section .hero_container .btn:hover {
  color: #FFAE2B;
  background-color: #181511;
  border: 1px solid #FFAE2B;
}

.psevdo_title {
  display: block;
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 22px;
  color: #FFAE2B;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.template_section .template_container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 120px;
}
.template_section .template_container .psevdo_title {
  color: #ACA592;
}
.template_section .grid_container {
  padding: 0 120px 120px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.template_section .grid_container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.template_section .grid_container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.template_section .grid_container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.template_section .grid_container > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.template_section .grid_container > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.template_section .grid_container > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.template_section .grid_container > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.template_section .grid_container > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.template_section .grid_container > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.template_section .grid_container > *:nth-child(10) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.template_section .grid_container > *:nth-child(11) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.template_section .grid_container > *:nth-child(12) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}
.template_section .grid_container > *:nth-child(13) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}
.template_section .grid_container > *:nth-child(14) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}
.template_section .grid_container > *:nth-child(15) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}
.template_section .grid_container > *:nth-child(16) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}
.template_section .grid_container > *:nth-child(17) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}
.template_section .grid_container > *:nth-child(18) {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
}
.template_section .grid_container > *:nth-child(19) {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
}
.template_section .grid_container > *:nth-child(20) {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
}
.template_section .grid_container > *:nth-child(21) {
  -ms-grid-row: 13;
  -ms-grid-column: 5;
}
.template_section .grid_container .col {
  padding: 41px;
  text-align: center;
  border: 1px solid #4B4136;
}
.template_section .grid_container .col:hover {
  background-color: #FFAE2B;
}
.template_section .grid_container .col:hover .img-download {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.visual-laptop {
  height: 684px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 38px;
}
.visual-laptop .visual-laptop-black {
  width: 100%;
  border: 1px solid #161616;
  background-color: #161616;
}

.services {
  height: 752px;
  background-color: #181511;
  padding: 120px;
}
.services .pseudo-title {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.services h2 {
  margin-bottom: 60px;
}

.service-block-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.service-block-sec .service-block {
  width: 400px;
  height: 350px;
  border: 1px solid #54493E;
}
.service-block-sec .service-block:hover {
  margin-top: 30px;
  background-color: #161616;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.service-block-sec .service-block .service-block-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-wrapper {
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.service-wrapper .service-title {
  font-size: 29px;
  line-height: 40px;
  color: #FFAE2B;
  margin-top: 10px;
}
.service-wrapper .service-pseudotitle {
  font-size: 15px;
  line-height: 26px;
  color: #ACA592;
  margin-top: 5px;
}
.service-wrapper .service-description {
  font-size: 11px;
  color: #ACA592;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.icon-square {
  position: relative;
  color: #54493E;
  font-size: 40px;
  margin: 61px 0 0 71px;
}

.icon-triangle {
  position: absolute;
  z-index: 1;
  color: #FFAE2B;
  font-size: 40px;
  margin: 82px 0 0 68px;
}

.icon-semi-circle-empty {
  position: relative;
  z-index: 1;
  color: #54493E;
  font-size: 40px;
  margin: 64px 0 0 67px;
}

.icon-semi-circle-full {
  position: absolute;
  z-index: 1;
  color: #FFAE2B;
  font-size: 40px;
  margin: 72px 0 0 83px;
}

.icon-circle-empty {
  position: relative;
  z-index: 1;
  color: #FFAE2B;
  font-size: 40px;
  margin: 64px 0 0 69px;
}

.icon-pentagon {
  position: absolute;
  color: #54493E;
  font-size: 40px;
  margin: 87px 0 0 62px;
}

.follow {
  background-color: #181511;
  padding: 0 15px;
  margin: 0 auto;
}
.follow .container {
  width: 100%;
  max-width: 1500px;
  padding: 21px 120px;
}
.follow .container:before, .follow .container:after {
  content: "";
  background-color: #4B4136;
  height: 1px;
  width: 1200px;
  display: inline-block;
  margin-left: 28px;
}
.follow .container .photos {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.follow .container .photos .img-holder {
  margin: 1px;
  position: relative;
  color: #FFFFFF;
}
.follow .container .photos .img-holder img {
  width: 100%;
}
.follow .container .photos .img-holder .icon-instagram:before {
  position: absolute;
  font-size: 50px;
  top: -33px;
  right: 73px;
}
.follow .container .photos .icon-holder {
  padding: 20px 65px;
  position: relative;
}
.follow .container .photos .icon-holder .icon-instagram:before {
  font-size: 200px;
  width: 100%;
  color: rgba(255, 255, 255, 0.19);
}
.follow .container .photos .icon-holder .text-holder {
  padding: 0 50px;
  margin: 0 0 40px;
  display: inline-block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.follow .container .photos .icon-holder .text-holder p {
  font-weight: 400;
  font-size: 37px;
  line-height: 50px;
  color: #FFAE2B;
}
.follow .container .photos .icon-holder .btn {
  font-size: 11px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 14px 24px;
  position: absolute;
  bottom: 0;
  left: 70px;
  margin: 0 40px 60px;
  -webkit-transition: background-color ease-in-out 0.3s;
  transition: background-color ease-in-out 0.3s;
  border: none;
}
.follow .container .photos .icon-holder .btn:hover {
  background-color: rgb(255, 255, 255);
}